.a-button {
  color: #5a2cff;
  border: 1px solid #5a2cff;
  border-radius: 6px;
  height: 30px;
  outline: none;
  cursor: pointer;
}
.a-button-lose-efficacy{
  pointer-events: none;
  opacity: .5;
}