.a-button {
  color: var(--app-main-caolor);
  border: 1px solid var(--app-main-caolor);
  border-radius: 6px;
  height: 30px;
  outline: none;
  cursor: pointer;
}
.a-button-lose-efficacy{
  pointer-events: none;
  opacity: .5;
}
.a-button-link {
  border: none;
  background-color: rgba(0, 0, 0, 0);
}