.drop-btn {
  transition: all .3s;
  color: #333333;
  border: 1px solid #ccc;
  background-color: #fff;
}
.drop-btn:hover {
  color: var(--app-main-color);
  border-color: var(--app-main-color);
}
.drop-content-wrapper {
  background-color: #fff;
  box-shadow: 0 -5px 6px 0 rgba(0, 0, 0, .06);
  display: inline-block;
  padding: 10px;
}