.wrapper {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid;
}

.box {
  min-width: 50%;
  max-width: 50%;
  height: 100px;
  border: 1px solid;
  border-bottom: none;
  box-sizing: border-box;
}
.box:nth-child(2n) {
  border-left: none;
}
.box--height-light-green {
  background-color: aqua;
}
.box--height-light-red {
  background-color: brown;
}